setuptools
fastapi==0.104.1
uvicorn[standard]==0.24.0
sqlalchemy==2.0.23
python-dotenv==1.0.0
python-multipart==0.0.6
pydantic==2.5.2
openai-whisper==20231117
torch --index-url https://download.pytorch.org/whl/cpu
spacy==3.7.2
aiofiles==23.2.1
